
    <div class="row">
      <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Test Donut Chart Example
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <%= pie_chart Post.group(:title).count, donut: true %>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
