<div class="page-wrapper" style="min-height: 1215px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <legend>Criteria for <strong><%= @category.name %></strong></legend>
          <p><%= markdown(@category.description).html_safe %></p>
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <div class="panel-group" id="accordion">

            <!-- begin -->
              <%=  nested_criteria @category.criteria.order(:created_at) %>
            <!-- end -->
          </div>
          <!-- .panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
</div>
